@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Poppins&family=Fuggles&family=Space+Mono&display=swap');

$logoFont:'Fuggles';
$regularFont:'Poppins';
$cursiveFont:'Arvo';
$navFont:'Space Mono';

$offBlack: #2d2d2d;
$offWhite: #ecf0f1;
$spicyRed: #d91400;
$deepRed:#b0171f;
$coolBlue: #125fca;

// $primary:rgb(95, 3, 3);
$primary:#000;
// $primary: #890000;

html{
    overflow: hidden;
}

@mixin onClick{
    background-color: #333;
    transform: scale(0.96);
}

*{
    margin:0;
    padding:0; 
    box-sizing: border-box; 
    
}

h2,h3,p{
    color: $offBlack;
}


html{
    font-size: 16px;   
    background-color:$offWhite;
}

h1,h2,p{
    font-weight: normal;
}

h3,p {
    font-family: $regularFont, Arial, Helvetica, sans-serif;
}

h2{
    font-family: $cursiveFont,Georgia, 'Times New Roman', Times, serif;
    font-size: 2.3rem;
}

h3{
    font-size: 1.1rem;
}

p{
    font-size: 0.8rem;
}

#header{
    position: relative;
    background-color: $primary;
    color:$offWhite;
    padding-top: 0.5rem;
    text-align:center;
    z-index: 100;
    font-family: $logoFont;
    font-size: 2rem;
} 

#navLinks{
    position:sticky;
    top:0;
    background-color: $primary;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.7);
    // border:1.5px solid $primary;
    z-index: 90;
    

    > ul{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style-type:none;

        li{
            width:33.3%;

            button{
                width:100%;
                height:100%;
                font-family: $regularFont, 'Courier New', Courier, monospace;
                text-transform: uppercase;
                background-color:$primary;
                color:$offWhite;
                font-weight: 550;
                font-size: 1.1rem;
                padding:0.9rem 0;
                border:0;      
            }

            button:active{
                @include onClick;
            }
        }
    }
}

#content{    
    margin:0 auto;
    padding-top:7vh;
    // background: url(assets/paper_light.png) repeat;
    //paper texture from Jorge Fuentes. Downloaded from toptal.com
    
    #menu{
                
        padding:0 10%;

        #categories{
        position: relative;
        padding-bottom:7vh;

        h2{
            text-transform: uppercase;
            text-align: center;  
            position:relative;            

            span{
                background-color: $offWhite;
                padding:0 2vh;
                color:$deepRed;
            }
        }

        h2::before{
            content: '';
            height:0.05vh;
            width: 85vw;
            background-color:$spicyRed;
            position:absolute;
            left:-2.5vw;
            top:50%;
            z-index: -1;
        }

        #item{
            padding:4vh 0 5vh 0;

            img{
                padding: 1vh 0 2vh 0;
                width: 100vw;
                margin-left:calc(-50vw + 50%);
            }
            
            #itemInfo{
                display:flex;
                align-items: center;

                #infoBox{
                    flex:0.7;

                    h3{
                        padding-bottom: 0.7vh;
                    }
                }

                button{
                    flex:0.3;
                    padding:1rem 0;  
                    background-color: $coolBlue;
                    color:white;
                    border: 1px solid $coolBlue;
                    border-radius:28px;
                    font-size: 1rem; 
                    font-weight: bold;
                    position: relative;
                    left:3vw;
                    // box-shadow:  0px 1px 5px 0.25px rgba(0,0,0,0.8);                
                }
            }


            
        }

            
        }
    }

    #contact{
        #address{
            padding:0% 7% 7% 5%;
            text-align: center;
            
            h3{
                font-weight:normal;
            }

            
        }

        #mapContainer{
            height:100vw;
            width: 100vw;
        }
    }

    #about{
        padding:0 13%;
        h2{
            text-align: center;
        }

        img{
            padding: 2vh 0;
            width: 100vw;
            margin-left:calc(-50vw + 50%);
        }
    }
    
}


#footer{
    z-index: 100;
    position:fixed;
    bottom:0;
    left:0;
    background-color: $primary;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.7);

    a, button{
        flex: 1;
        text-decoration: none;
        color:white;
        text-align: center;            
        padding:2vh 0;
        background-color: $primary;
        border:none;
        font-size:1rem;
    } 

    span{
        // background-image:linear-gradient($offBlack,rgb(126, 124, 124) 50%,$offBlack);
        position:absolute;
        left:50%;
        top:0%;
        width:1px;
        height:50%;
        color: rgba(255, 255, 255, 0.1875)
    }   

    button:active{
        @include onClick;
    }
  
}

a:active{    
    @include onClick;
}


#map{
    border:none;    
}

.hide{
    display: none;
}

.animate{
    animation-name:eyeBlink;
    animation-duration:0.4s;
    animation-iteration-count: 1;
}

.buttonHiglight{
    background-color:$offWhite;
    color:$offBlack;
    box-shadow: none;
}


@keyframes eyeBlink {
    0%{
        opacity: 0;
    }

    50%{
        opacity:.6;
    }

    100%{
        opacity:1;
    }
    
}


#snipcart{
    position:relative;
    z-index:101;
}

#modalOverlay{
    position: fixed;
    z-index: 1000;
    background-color: rgba(0,0,0,0.75);
    height:100vh;
    width: 100vw;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;


    #modalBox{
        position:relative;
        background-color: $offWhite;
        background-image: url('assets/modal.png');
        background-size: cover;
        background-position: right;
        width:80%;
        height:60%;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2{
            padding:1vh 0;
        }

        #modalButton{
            position:absolute;
            top:0;
            right:0;
            padding:0.75rem 1rem;
            margin: 0.5rem;
            border:1px solid $spicyRed;
            color:$offWhite;
            background-color: $spicyRed;
            font-size: 1rem;
            font-weight: bolder;
            border-radius: 5px;            
        }

        #modalButton:hover{
            background-color: #B00020;
            color:$offWhite;
        }
    }
}

#snipcart{
    font-family:$regularFont, Arial, Helvetica, sans-serif;

    .snipcart-base-button{ 
        background-color: $primary;
        color:$offWhite;
        border: 1px solid $primary;
        border-radius: 2rem;
        font-size: 1rem; 
        font-weight: bold;               
    }

    .snipcart-cart-header__icon, .snipcart-modal__close-icon  {        
        color: $primary;
    }

    .snipcart__box--badge-highlight{
        background-color:$spicyRed;
        color:$offWhite;
    }
}