@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Poppins&family=Fuggles&family=Space+Mono&display=swap');

$logoFont:'Fuggles', cursive;
$regularFont:'Poppins';
$cursiveFont:'Marcellus';
$navFont:'Space Mono';

$primary:rgb(95, 3, 3);
$secondary: #ba9c56;

@mixin onClick{
    background-color: hsl(0, 93%, 22%);
    transform: scale(0.96);
}

*{
    margin:0;
    padding:0; 
    box-sizing: border-box;   
}

html{
    font-size: 16px;   
}

h1,h2,h3,p{
    font-weight: normal;
}

h3,p {
    font-family: $regularFont;
}

h2{
    font-family: $cursiveFont;
    font-size: 2.5rem;
}

#header{
    position: relative;
    background-color: $primary;
    color:white;
    padding-top: 0.5vh;
    text-align:center;
    z-index: 100;
    font-family: $logoFont;
    font-size: 2rem;
} 

#navLinks{
    position:sticky;
    top:0;
    background-color: $primary;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.7);
    border:1.5px solid $primary;
    z-index: 90;

    > ul{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style-type:none;

        li{
            width:33.3%;

            button{
                width:100%;
                height:100%;
                font-family: $navFont;
                background-color:$primary;
                // text-transform: uppercase;
                color:white;
                font-weight: 550;
                font-size: 1.4rem;
                padding:0.5vh 0 1vh 0;
                border:0;
            }

            button:active{
                @include onClick;
            }
        }
    }
}

#content{    
    margin:0 auto;
    padding-top:1.5rem;
    // background: url(assets/paper_light.png) repeat;
    //paper texture from Jorge Fuentes. Downloaded from toptal.com
        
    #menu{
                
        padding:0 7%;

        #categories{
        position: relative;

        h2{
            text-transform: uppercase;
            text-align: center;  
            position:relative;

            span{
                background-color: white;
                padding:0 1vh;
            }
        }

        h2::before{
            content: '';
            height:2px;
            width: 100%;
            background-color:$secondary;
            position:absolute;
            left:0;
            top:50%;
            z-index: -1;
        }

        #item{
            padding:2vh 0 3vh 0;

            h3,img{
                padding-bottom: 0.5vh;
            }            

            img{
                width: 100vw;
                margin-left:calc(-50vw + 50%);
            }
        }

            
        }
    }

    #contact{
        #address{
            padding:0% 7% 7% 5%;
        }
    }

    #about{
        padding:0 7%;

        img{
            padding: 2vh 0;
            width: 100vw;
            margin-left:calc(-50vw + 50%);
        }
    }
    
}



#footer{
    z-index: 100;
    position:fixed;
    bottom:0;
    left:0;
    background-color: $primary;
    width: 100vw;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.7);

    a{
        flex: 1;
        text-decoration: none;
        color:white;
        text-align: center;            
        padding:2vh 0;
    } 
  
}

a:active{    
    @include onClick;
}


#map{
    border:none;    
}

.hide{
    display: none;
}

.animate{
    animation-name:eyeBlink;
    animation-duration:0.4s;
    animation-iteration-count: 1;
}

@keyframes eyeBlink {
    0%{
        opacity: 0;
    }

    50%{
        opacity:.6;
    }

    100%{
        opacity:1;
    }
    
}
